.leftAlignedText {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
.blueHeader {
    color : rgb(76, 0, 255);
    text-align: center;
}
.labelText {
  display: inline-block; /* Makes the label respect the width property */
    font-family: monospace; /* Ensures each character has the same width */
    width: 150px; /* Adjust this based on the average width of a character in your chosen font */
    padding: 5px; /* Adds padding around the text */
    box-sizing: border-box; /* Includes padding in the total width */
}
/* Container to center the buttons */
.button-container {
  text-align: center; /* Centers the content horizontally */
  display: flex; /* Use flexbox to layout the buttons */
  justify-content: center; /* Center the buttons horizontally in the flex container */
  gap: 10px; /* Adds some space between the two buttons */
}

/* Style for the buttons */
.centered-button {
  padding: 10px 20px; /* Adds some padding around the text for a comfortable click area */
  border: 1px solid #ccc; /* Adds a light border for definition */
  background-color: #f0f0f0; /* Light background color for the button */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  color : rgb(76, 0, 255);
}

/* Optional: Style for the buttons on hover for visual feedback */
.centered-button:hover {
  background-color: #e0e0e0; /* Slightly darker background on hover */
}

