NODE_ENV=development # not really used
PORT=3000 # api port
VERSION=v1
DATABASE=mongodb://localhost:27017/moneywatcher # mongodb address
PLAID_CLIENT_ID=NEEDED #   *****REQUIRED***** plaid client id, setup instructions: https://plaid.com/docs/quickstart/
PLAID_SECRET=NEEDED #   *****REQUIRED***** plaid secret, setup instructions: https://plaid.com/docs/quickstart/
PLAID_URL=sandbox.plaid.com # plaid sandbox url
SYNC_INTERVAL_SECONDS=5 # update interval 
JWT_SECRET=OMITTED # set to what you want your jwt secret to be
JWT_EXPIRES_IN=90d
EMAIL_SERVICE=gmail # MoneyWatcher uses [nodemailer](https://nodemailer.com). not necessary for core functions
EMAIL=OMITTED # sender email address
EMAIL_PASSWORD=OMITTED # some services are finnicky and require special setup, not just your regular password
URL=http://localhost:3001 #Application URL, in AWS, should be http://moneywatcher.andrewtheterp.com
